$rice:#FFE9A5;
$pear:#A2B71E;
$apple-green:#A0C132;
$apple-red:#E63420;
$orange:#FF9015;
$sweet-potato:#A43E2A;
$melon:#BFD276;
$mango-green:#C4D61E;
$mango-yellow:#FFB001;
$peach:#FE6D6C;
$flower:#FBA1A1;
$strawberry:#E66963;
$rice-red:#F6D2C6;
$coffee:#71441B;
$millet:#D08043;
$cron:#D5E896;

$theme:#3E5426;