@import 'app/styles/styles.scss';

.box {
  form {
    inset: 2px;
    display: flex;
    flex-direction: column;
    .inputbox {
      position: relative;
      margin-top: 32px;
      input {
        position: relative;
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        color: $theme;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        z-index: 10;
      }
      span {
        position: absolute;
        left: 0;
        padding: 20px 0 10px;
        pointer-events: none;
        color: #fff;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
      }
      input:valid ~ span,
      input:focus ~ span {
        color: #fff;
        font-size: 0.75em;
        transform: translateY(-34px);
      }
      i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        border-radius: 4px;
        overflow: hidden;
        transition: 0.5s;
        pointer-events: none;
      }
      input:valid ~ i,
      input:focus ~ i {
        height: 44px;
      }
    }
    .links{
      display: flex;
      justify-content: space-between;
      align-items: end;
      height: 40px;
      a{
        margin: 10px 0;
        font-size: .75em;
        color: #fff;
        transition: .3s;
        &:hover{
          color: $theme;
        }
      }
    }
    input[type="submit"]{
      width: 100%;
      padding: 8px 0;
      background: #fff;
      color: $theme;
      cursor: pointer;
      font-size: .9em;
      border-radius: 4px;
      margin-top: 16px;
      transition: .3s;
      &:hover{
        background: $theme;
        color: #fff;
      }
    }
  }
}
